{{!-- page displaying a particular blog along with comments --}}
<div class="text-center">
  <h2 class="show-title">{{title}}</h2>
  <h3 class="show-head">Created by {{user.userName}} on {{format_date createdAt}}</h3>
  <h4 class="show-blog">{{contents}}</h4>
  
  {{!-Provide the opportunity to comment if logged in --}}
{{#if logged_in}}
<div class="row align-center">
  <div class="col-md-6">
    <form class="form new-comment-form">
      <div class="form-group">
        <label for="comment-desc">Add a comment</label>
        <textarea class="form-input" id="comment-desc" name="comment-desc" rows="3"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" data-id="{{id}}">Submit</button>
      </div>
    </form>
  </div>
</div>
{{/if}}

{{!-- Show comments if there are any --}}
{{#if comments.length}}
<h3 class="show-head">Comments:</h3>
{{#each comments as |comment|}}
<h4 class="comment">{{comment.detail}}</h4>
<p class="comment-by">by: {{comment.user.userName}} on {{format_date comment.createdAt}}</p>
{{/each}}
{{/if}}

{{!-- if not logged in, show this message --}}
{{#unless logged_in}}
<p class="show-message">--------------------------------------------</p>
<h4 class="show-message">***  Log in to comment!  ***</h4>
{{/unless}}
</div>

<script src="/js/showblog.js"></script>