{{!-- allows logged in User to update blog and review/remove comments --}}
<div>
  <h2 class="dash-title">Review your blog, {{user.userName}}!</h2>
</div>
  
<div class="row">
  <div class="col-md-6">
    <h3 class="dash-head">Update Your Blog Post</h3>
    <form class="form new-blog-form" data-id="{{id}}">
      <div class="form-group">
        <label for="blog-name">Blog Title</label>
        <input class="form-input" type="text" id="blog-name" name="blog-name" value="{{title}}" />
      </div>
      <div class="form-group">
        <label for="blog-desc">Blog Entry</label>
        <textarea class="form-input" id="blog-desc" name="blog-desc" rows="10">{{contents}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" id="updateBtn" class="btn btn-primary">Update</button>
        <button class="btn btn-sm btn-danger btn-blog" id="delete" data-id="{{id}}">DELETE</button>
      </div>
    </form>
  </div>

  {{#if comments.length}}
    <div class="col-md-6">
      <h3 class="dash-head">Review Comments</h3>
        <div id="delcomm">
        {{#each comments as |comment|}}
          <div class="blog-comment">
            p>{{comment.user.userName}} on {{format_date comment.createdAt}}:    {{comment.detail}}</p>
            <button class="btn btn-sm btn-danger btn-blog" data-id="{{comment.id}}">DELETE</button>
          </div>
          <p>-------------------------------------------</p>
        {{/each}}
        </div>
    </div>
  {{/if}}
</div>


<script src="/js/updateblog.js"></script>